<a href="https://colab.research.google.com/github/AschHarwood/social_unrest/blob/main/protests_nyt_mobility_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read and Clean NYT Protest data

In [ ]:
nyt_protest = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/features/nyt_case_deaths_acled_protests_count_by_date_county_5_24_21.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210526%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210526T145128Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=70912d18cae65fbdbe5118a5ef285204735426ecffa5f4f5c4cb3d996ef260ef')

In [ ]:
nyt_protest.head()

   Unnamed: 0        date  county_fips  ...  cases  deaths  data_id
0           0  2020-01-07         6067  ...    0.0     0.0      1.0
1           1  2020-01-07        34029  ...    0.0     0.0      1.0
2           2  2020-01-08         8031  ...    0.0     0.0      1.0
3           3  2020-01-08        36001  ...    0.0     0.0      1.0
4           4  2020-01-09        34021  ...    0.0     0.0      1.0

[5 rows x 10 columns]

In [ ]:
nyt_protest.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
nyt_protest.rename(columns={'data_id': 'protest_count'}, inplace=True)

In [ ]:
nyt_protest.head()

         date  county_fips  cases_avg  ...  cases  deaths  protest_count
0  2020-01-07         6067        0.0  ...    0.0     0.0            1.0
1  2020-01-07        34029        0.0  ...    0.0     0.0            1.0
2  2020-01-08         8031        0.0  ...    0.0     0.0            1.0
3  2020-01-08        36001        0.0  ...    0.0     0.0            1.0
4  2020-01-09        34021        0.0  ...    0.0     0.0            1.0

[5 rows x 9 columns]

In [ ]:
nyt_protest.county_fips = nyt_protest.county_fips.astype('str')

In [ ]:
def add_zero(x):
  if len(x) == 4:
    fips = '0' + x
    return fips
  else:
    return x

In [ ]:
nyt_protest.county_fips = nyt_protest.county_fips.apply(lambda x: add_zero(x))

In [ ]:
(nyt_protest.county_fips.str.len()==4).sum()

0

In [ ]:
nyt_protest.rename(columns={'county_fips': 'fips', 'Date': 'date'}, inplace=True)

In [ ]:
nyt_protest.set_index(['date', 'fips'], inplace=True)

# Read and Clean mobility data

In [ ]:
mob = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/features/apple_mob_US_fips_5_26_21.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210526%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210526T145350Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=26f4b3dd28ffe4b4be95604fa505decf2537c9d77b27415b267fa09110959d4e')

In [ ]:
mob.head()

   Unnamed: 0      sub-region  ... Mobility_score   fips
0           0  South Carolina  ...          100.0  45001
1           1       Louisiana  ...          100.0  22001
2           2        Virginia  ...          100.0  51001
3           3           Idaho  ...          100.0  16001
4           4           Idaho  ...          100.0  16001

[5 rows x 7 columns]

In [ ]:
mob.drop('Unnamed: 0', inplace=True, axis=1)

In [ ]:
mob.fips = mob.fips.astype('str')

In [ ]:
(mob.fips.str.len()==4).sum()

158080

In [ ]:
mob.fips = mob.fips.apply(lambda x: add_zero(x))

In [ ]:
(mob.fips.str.len()==4).sum()

0

In [ ]:
mob.rename(columns={'Date': 'date'}, inplace=True)

In [ ]:
mob.set_index(['date', 'fips'], inplace=True)





# Joining Data

In [ ]:
mob.head()

                      sub-region  ... Mobility_score
date       fips                   ...
2020-01-13 45001  South Carolina  ...          100.0
           22001       Louisiana  ...          100.0
           51001        Virginia  ...          100.0
           16001           Idaho  ...          100.0
           16001           Idaho  ...          100.0

[5 rows x 4 columns]

In [ ]:
nyt_protest.head(10)

                  cases_avg  cases_avg_per_100k  ...  deaths  protest_count
date       fips                                  ...
2020-01-07 06067       0.00                0.00  ...     0.0            1.0
           34029       0.00                0.00  ...     0.0            1.0
2020-01-08 08031       0.00                0.00  ...     0.0            1.0
           36001       0.00                0.00  ...     0.0            1.0
2020-01-09 34021       0.00                0.00  ...     0.0            1.0
2020-01-13 34021       0.00                0.00  ...     0.0            1.0
2020-01-21 53061       0.14                0.02  ...     0.0            0.0
2020-01-22 53061       0.14                0.02  ...     0.0            0.0
2020-01-23 53061       0.14                0.02  ...     0.0            0.0
2020-01-24 06065       0.00                0.00  ...     0.0            1.0

[10 rows x 7 columns]

In [ ]:
nyt_acled_apple = nyt_protest.join(mob, how='outer')

In [ ]:
nyt_acled_apple.head(10)

                  cases_avg  ...  Mobility_score
date       fips              ...
2020-01-07 06067        0.0  ...             NaN
           34029        0.0  ...             NaN
2020-01-08 08031        0.0  ...             NaN
           36001        0.0  ...             NaN
2020-01-09 34021        0.0  ...             NaN
2020-01-13 01001        NaN  ...           100.0
           01003        NaN  ...           100.0
           01003        NaN  ...           100.0
           01005        NaN  ...           100.0
           01007        NaN  ...           100.0

[10 rows x 11 columns]

In [ ]:
nyt_acled_apple.loc['2020-01-24', '06065']

                  cases_avg  ...  Mobility_score
date       fips              ...
2020-01-24 06065        0.0  ...          132.40
           06065        0.0  ...          100.98
           06065        0.0  ...          133.86

[3 rows x 11 columns]

In [ ]:
!pip install addfips

Collecting addfips
  Downloading https://files.pythonhosted.org/packages/eb/44/d0f182c355917565df96c3292e68b729a446ef1bb6cfdfd57b01dfdaae0a/addfips-0.3.1-py3-none-any.whl (108kB)
     |████████████████████████████████| 112kB 34.3MB/s
Requirement already satisfied: importlib-resources>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from addfips) (5.1.3)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=2.0.1->addfips) (3.4.1)
Installing collected packages: addfips
Successfully installed addfips-0.3.1

In [ ]:
import addfips
af = addfips.AddFIPS()

In [50]:
!pip install us

Collecting us
  Downloading https://files.pythonhosted.org/packages/88/04/04323aefa1871de30286d3decae7706481c73bd428cf0c08e158bfa259a6/us-2.0.2.tar.gz
Collecting jellyfish==0.6.1
  Downloading https://files.pythonhosted.org/packages/61/3f/60ac86fb43dfbf976768e80674b5538e535f6eca5aa7806cf2fdfd63550f/jellyfish-0.6.1.tar.gz (132kB)
     |████████████████████████████████| 133kB 6.6MB/s
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-cp37-none-any.whl size=11929 sha256=0aeca5fc35005f48fe430d1a78ce1fec4152c2b2bd6f78cc4f1484b8ac6087ab
  Stored in directory: /root/.cache/pip/wheels/e2/16/45/6453383ffa495670f0f6b80a3e697a9771d98cfbaf8b451e73
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp37-cp37m-linux_x86_64.whl size=72136 sha256=a0a93974a4cf4e1675ead3f92f7a4fe3e488bc3ee71cd152a5397edf2a03d456
  Stored in directory: /root/.cache/pip/wheels/9c/6f/33/92bb9a4b4562a60ba6a80cedbab8907e48bc7a8b1f369ea0ae
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

In [ ]:
def add_fips(x):
  fips = af.get_county_fips(x['region'], state=x['sub-region'])
  if fips is not None:
    return fips
  else:
    return 'failed'

In [ ]:
nyt_acled_apple.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1776814 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1591690 non-null  float64
 1   cases_avg_per_100k   1591690 non-null  float64
 2   deaths_avg           1591690 non-null  float64
 3   deaths_avg_per_100k  1591690 non-null  float64
 4   cases                1591690 non-null  float64
 5   deaths               1591690 non-null  float64
 6   protest_count        1591690 non-null  float64
 7   sub-region           1303172 non-null  object
 8   region               1303172 non-null  object
 9   transportation_type  1303172 non-null  object
 10  Mobility_score       1296354 non-null  float64
dtypes: float64(8), object(3)
memory usage: 196.1+ MB

In [ ]:
nyt_acled_apple['cases_avg'].fillna(nyt_acled_apple.groupby('sub-region' )['cases_avg'].transform('mean'), inplace=True)

In [ ]:
nyt_acled_apple['cases_avg_per_100k'].fillna(nyt_acled_apple.groupby('sub-region' )['cases_avg_per_100k'].transform('mean'), inplace=True)

In [ ]:
nyt_acled_apple['deaths_avg'].fillna(nyt_acled_apple.groupby('sub-region' )['deaths_avg'].transform('mean'), inplace=True)

In [ ]:
nyt_acled_apple['deaths_avg_per_100k'].fillna(nyt_acled_apple.groupby('sub-region' )['deaths_avg_per_100k'].transform('mean'), inplace=True)

In [ ]:
nyt_acled_apple['cases'].fillna(nyt_acled_apple.groupby('sub-region' )['cases'].transform('mean'), inplace=True)

In [ ]:
nyt_acled_apple['deaths'].fillna(0, inplace=True)

In [ ]:
nyt_acled_apple['protest_count'].fillna(0, inplace=True)

In [ ]:
nyt_acled_apple['Mobility_score'].fillna(nyt_acled_apple['Mobility_score'].mean(), inplace=True)

In [ ]:
nyt_acled_apple.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1776814 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1776320 non-null  float64
 1   cases_avg_per_100k   1776320 non-null  float64
 2   deaths_avg           1776320 non-null  float64
 3   deaths_avg_per_100k  1776320 non-null  float64
 4   cases                1776320 non-null  float64
 5   deaths               1776814 non-null  float64
 6   protest_count        1776814 non-null  float64
 7   sub-region           1303172 non-null  object
 8   region               1303172 non-null  object
 9   transportation_type  1303172 non-null  object
 10  Mobility_score       1776814 non-null  float64
dtypes: float64(8), object(3)
memory usage: 196.1+ MB

In [ ]:
nyt_acled_apple['transportation_type'].fillna('combined', inplace=True)

In [64]:
fips_new = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/fips_counties%20-%20Sheet1.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210526%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210526T192846Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=09b600b5c6479e89204325c5bc42109b0a48081d32a76daf21e1686bd8b868d6')

In [66]:
fips_new['county-level FIPS code'] = fips_new['county-level FIPS code'].astype('str')

In [67]:
fips_new['county-level FIPS code'] = fips_new['county-level FIPS code'].apply(lambda x: add_zero(x))

In [80]:
fips_lookup = fips_new.set_index('county-level FIPS code').to_dict()

In [85]:
fips_lookup['place name'].get('1000000')

In [88]:
null_locations = nyt_acled_apple[nyt_acled_apple['region'].isnull()]

In [ ]:
null_locations

In [127]:
def replace_null_region(x):
  if x['region'] is None:
    try:

      location = fips_lookup['place name'][x['fips']]
      return location
    except:
      return "failed"
  else:
    return x['region']

In [ ]:
nyt_acled_apple[]

In [123]:
nyt_acled_apple['region']

date        fips
2020-01-07  06067    NaN
            34029    NaN
2020-01-08  08031    NaN
            36001    NaN
2020-01-09  34021    NaN
                    ...
2021-05-24  72153    NaN
            72999    NaN
            78010    NaN
            78020    NaN
            78030    NaN
Name: region, Length: 1776814, dtype: object

In [128]:
nyt_acled_apple['region_2'] = nyt_acled_apple.apply(lambda x: replace_null_region(x), axis=1)

In [130]:
nyt_acled_apple.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1776814 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1776320 non-null  float64
 1   cases_avg_per_100k   1776320 non-null  float64
 2   deaths_avg           1776320 non-null  float64
 3   deaths_avg_per_100k  1776320 non-null  float64
 4   cases                1776320 non-null  float64
 5   deaths               1776814 non-null  float64
 6   protest_count        1776814 non-null  float64
 7   sub-region           1303172 non-null  object
 8   region               1303172 non-null  object
 9   transportation_type  1776814 non-null  object
 10  Mobility_score       1776814 non-null  float64
 11  region_2             1303172 non-null  object
dtypes: float64(8), object(4)
memory usage: 209.7+ MB

In [137]:
nyt_acled_apple['region'].fillna('unknown', inplace=True)

In [140]:
nyt_acled_apple['sub-region'].fillna('unknown', inplace=True)

In [146]:
nyt_acled_apple.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1776320 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1776320 non-null  float64
 1   cases_avg_per_100k   1776320 non-null  float64
 2   deaths_avg           1776320 non-null  float64
 3   deaths_avg_per_100k  1776320 non-null  float64
 4   cases                1776320 non-null  float64
 5   deaths               1776320 non-null  float64
 6   protest_count        1776320 non-null  float64
 7   sub-region           1776320 non-null  object
 8   region               1776320 non-null  object
 9   transportation_type  1776320 non-null  object
 10  Mobility_score       1776320 non-null  float64
dtypes: float64(8), object(3)
memory usage: 156.1+ MB

In [145]:
nyt_acled_apple.dropna(subset=['cases_avg'], inplace=True)

In [148]:
nyt_acled_apple.reset_index(inplace=True)

In [150]:
nyt_acled_apple.head(10)

         date   fips  ...  transportation_type  Mobility_score
0  2020-01-07  06067  ...             combined      136.797413
1  2020-01-07  34029  ...             combined      136.797413
2  2020-01-08  08031  ...             combined      136.797413
3  2020-01-08  36001  ...             combined      136.797413
4  2020-01-09  34021  ...             combined      136.797413
5  2020-01-13  01001  ...              driving      100.000000
6  2020-01-13  01003  ...              driving      100.000000
7  2020-01-13  01003  ...              walking      100.000000
8  2020-01-13  01005  ...              driving      100.000000
9  2020-01-13  01007  ...              driving      100.000000

[10 rows x 13 columns]

In [151]:
nyt_acled_apple.to_csv('nyt_cases_deaths_acled_protests_apple_mob_5_26_21.csv')