<a href="https://colab.research.google.com/github/AschHarwood/social_unrest/blob/main/social_unrest_feature_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datasets to wrangle

- Target data time frame: April 20, 2020 - April 29, 2021

## Data Sources

#### Static

- CDC social vulnerability index
- [New York Times Mask Wearing Survey](https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv) (d)
- MOA Youth Disconnection Index
- [ASTDR Place and Health](https://https://colab.research.google.com/drive/1meRtC6LKeuS8kDFt4aoNtqhJzLQufhaZ#scrollTo=XUAqlGUmn80F&line=12&uniqifier=1) (d)
- [County-level demographic, socioeconomi, health care, education, and transit data](https://github.com/JieYingWu/COVID-19_US_County-level_Summaries/tree/master/data)
- [KFF Cases/Deaths by Race](https://github.com/KFFData/COVID-19-Data/tree/kff_master/Race%20Ethnicity%20COVID-19%20Data/Cases%20and%20Deaths)
-[Legislative Composition](https://www.ncsl.org/research/about-state-legislatures/partisan-composition.aspx) (d, pdf)
-[Black Representation in Power](https://wholeads.us/datasets/) (d)
- [Vote Smart](https://votesmart.org/share/api)
- [KFF State Political Parties 2021](https://www.kff.org/other/state-indicator/state-political-parties/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF Governors](https://www.kff.org/other/state-indicator/governors/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF Demographics and Economy](https://www.kff.org/state-category/demographics-and-the-economy/)
- [KFF Critical Care Workforce](https://www.kff.org/report-section/state-covid-19-data-and-policy-actions-policy-actions/#stateleveldata)(d)
- [KFF Flu Vaccine and Deaths](https://www.kff.org/report-section/state-covid-19-data-and-policy-actions-policy-actions/#stateleveldata)(d)
- [County Health Rankings](https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/2021-measures)(d)
- [Tufts Misinformation Vulnerabilty Index](https://sites.tufts.edu/digitalplanet/the-misinformation-maelstrom-a-mapping-of-vulnerability-across-america/)(d)
- [Conspiratorial thinking during COVID-19](https://osf.io/dtzne/)(d)
- [Anxiety, Worry, and Risk/Probability Estimates during COVID-19](https://osf.io/cgzsd/)(d)
- [Characterizing Public Perceptions of Social and Cultural Impacts in Policy Decisions](https://osf.io/pgq62/)
- [Pew Congress Social Media Activity](https://www.pewresearch.org/internet/dataset/congress-on-social-media-2015-2020/)(d)
- [C3 Covid Data Lake](https://c3.ai/covid-19-api-documentation/#tag/PolicyDetail/paths/~1api~11~1policydetail~1fetch/post)


#### Time series (Numeric/Cat)

- Apple mobility data (d)
- [Covid cases/deaths (NYT)](https://data.humdata.org/dataset/nyt-covid-19-data)
- [MIT Covid Survey](https://covidsurvey.mit.edu/api.html)
- [Share This Market Consumption National US](https://aws.amazon.com/marketplace/pp/prodview-mhxrjlbhfq2qg?ref_=beagle&applicationId=AWSMPContessa#offers)
- [Google Community Mobility](https://www.google.com/covid19/mobility/)
  - See on [AWS](https://console.aws.amazon.com/dataexchange/home?region=us-east-1#/entitled-data?type=revision&productId=prod-eh4td62sesszk&dataSetId=8620cacff1cf872e2e193b83a9c8799c&revisionId=86dad5bbdcaee4787b5cfa4d80daf5a3)
- [KFF Covid State Trend](https://github.com/KFFData/COVID-19-Data/tree/kff_master/State%20Trend%20Data)
- [KFF State Social Distancing Policies](https://github.com/KFFData/COVID-19-Data/tree/kff_master/State%20Policy%20Actions/State%20Social%20Distancing%20Actions)
- [KFF Long Term Care Deaths](https://www.kff.org/coronavirus-covid-19/issue-brief/state-covid-19-data-and-policy-actions/#policyactions)(d)
- [KFF ICU Beds by County](https://khn.org/news/as-coronavirus-spreads-widely-millions-of-older-americans-live-in-counties-with-no-icu-beds/#lookup)(d)
- [KFF Covid by Race](https://www.kff.org/other/state-indicator/covid-19-cases-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF COVID-19 Deaths by Race/Ethnicity](https://www.kff.org/other/state-indicator/covid-19-deaths-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
-  [KFF Percent of Total Population that has Received a COVID-19 Vaccine by Race/Ethnicity](https://www.kff.org/other/state-indicator/percent-of-total-population-that-has-received-a-covid-19-vaccine-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [Facebook Mobility Data](https://data.humdata.org/dataset/movement-range-maps)(d)
- [Social Mobility Index](https://socialmobility.covid19dataresources.org/data.html)(d)
  - See [github](https://raw.githubusercontent.com/mdredze/covid19_social_mobility.github.io/master/data/longitudinal_state_latest.csv)
- [ANES Elections Studies](https://electionstudies.org/data-center/2020-time-series-study/)
- [Covid Infodemic Risk Index](https://covid19obs.fbk.eu/#/)(d)
- [MIT Covid Attitudes Survey](https://covidsurvey.mit.edu/api.html)
#### Time series (text)
- News dataset
- [Daily geotagged coronavirus tweets](https://ieee-dataport.org/open-access/coronavirus-covid-19-geo-tagged-tweets-dataset#files)
- [Covid-19-Tweets](https://github.com/echen102/COVID-19-TweetIDs)
- [COVID19_Tweets_Dataset](https://github.com/lopezbec/COVID19_Tweets_Dataset)
- [FB Political Ads](https://www.propublica.org/datastore/dataset/political-advertisements-from-facebook)(d)
- [Institutional-and-news-media-tweet-dataset-for-COVID-19-social-science-research](https://github.com/narcisoyu/Institutional-and-news-media-tweet-dataset-for-COVID-19-social-science-research)
- [Pancea Labs Covid_Twitter](https://github.com/thepanacealab/covid19_twitter)
- [GW Tweet Library - Congress, Senate, and Covid datasets](https://tweetsets.library.gwu.edu/datasets)
- [COVID-19 Infodemic Twitter Dataset: Modeling the Perspective of Journalists, Fact-Checkers, Social Media Platforms, Policy Makers, and the Society](https://github.com/firojalam/COVID-19-tweets-for-check-worthiness)(d)
- [Covied Reddit covid](https://www.kaggle.com/trtmio/project-coviewed-subreddit-coronavirus-news-corpus)
- [COVID-19-DBs](https://github.com/yes-lab-covid-19/COVID-19-DBs)
-

# Imports

In [1]:
import pandas as pd

# Import Target Data

In [ ]:
protests = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/covid_protests_target_fips_May_24.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210524%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210524T174042Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=670a9fedf4bc445b7eb775db8b38e3a527f74a6bc7df7862f7e8a8fea1b038b7')

In [ ]:
protests.drop('Unnamed: 0', inplace=True, axis=1)
protests

        datetime  data_id  ... state_fips state_code
0     2021-04-29  7934666  ...          6         CA
1     2021-04-28  7934392  ...         23         ME
2     2021-04-27  7934568  ...          4         AZ
3     2021-04-27  7934572  ...         12         FL
4     2021-04-26  7934252  ...          8         CO
...          ...      ...  ...        ...        ...
5462  2021-01-22  7740002  ...          6         CA
5463  2020-11-08  7610764  ...         42         PA
5464  2020-07-30  7612987  ...         42         PA
5465  2020-05-01  7611699  ...          6         CA
5466  2020-04-20  7614153  ...         49         UT

[5467 rows x 13 columns]

In [ ]:
protests_grouped = protests.groupby(['datetime', 'county_fips']).count()['data_id']
protests_grouped

datetime    county_fips
2020-01-07  6067           1
            34029          1
2020-01-08  8031           1
            36001          1
2020-01-09  34021          1
                          ..
2021-04-29  41017          1
            44003          1
2021-04-30  8041           1
            15003          1
            25025          1
Name: data_id, Length: 5083, dtype: int64

In [ ]:
protests_grouped.reset_index().duplicated().sum()

0

## NYT Deaths Data

In [ ]:
nyt_deaths = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties.csv')

In [ ]:
nyt_deaths

               date      geoid  ... deaths_avg deaths_avg_per_100k
0        2020-01-21  USA-53061  ...        0.0                 0.0
1        2020-01-22  USA-53061  ...        0.0                 0.0
2        2020-01-23  USA-53061  ...        0.0                 0.0
3        2020-01-24  USA-53061  ...        0.0                 0.0
4        2020-01-24  USA-17031  ...        0.0                 0.0
...             ...        ...  ...        ...                 ...
1356126  2021-05-24  USA-69120  ...        0.0                 0.0
1356127  2021-05-24  USA-69110  ...        0.0                 0.0
1356128  2021-05-24  USA-78030  ...        0.0                 0.0
1356129  2021-05-24  USA-78020  ...        0.0                 0.0
1356130  2021-05-24  USA-78010  ...        0.0                 0.0

[1356131 rows x 10 columns]

In [ ]:
nyt_deaths['county_fips'] = nyt_deaths['geoid'].apply(lambda x: x[4:])

In [ ]:
cases_deaths_nyt = nyt_deaths.groupby(['date', 'county_fips']).sum()[['cases', 'deaths']]

In [ ]:
nyt_avgs = nyt_deaths.groupby(['date', 'county_fips']).mean()[['cases_avg', 'cases_avg_per_100k', 'deaths_avg', 'deaths_avg_per_100k']]

In [ ]:
nyt_complete = pd.concat([nyt_avgs, cases_deaths_nyt], axis=1)

In [ ]:
nyt_complete

                        cases_avg  cases_avg_per_100k  ...  cases  deaths
date       county_fips                                 ...
2020-01-21 53061             0.14                0.02  ...      1       0
2020-01-22 53061             0.14                0.02  ...      0       0
2020-01-23 53061             0.14                0.02  ...      0       0
2020-01-24 17031             0.14                0.00  ...      1       0
           53061             0.14                0.02  ...      0       0
...                           ...                 ...  ...    ...     ...
2021-05-24 72153             1.33                3.94  ...      4       0
           72999             6.00                 NaN  ...      9       0
           78010             1.71                3.39  ...     10       0
           78020             0.86               20.55  ...      6       0
           78030            14.00               27.11  ...     59       0

[1356131 rows x 6 columns]

# Final Join

- add zero to protests_grouped when only 4 characters
- convert county_fips to string for protests_groupoed
- rename datetime to date on protests_grouped
- set index ['date', 'county_fips'] for both
- .join(how='left')

In [ ]:
protests_grouped = pd.DataFrame(protests_grouped)
protests_grouped

                        data_id
datetime   county_fips
2020-01-07 6067               1
           34029              1
2020-01-08 8031               1
           36001              1
2020-01-09 34021              1
...                         ...
2021-04-29 41017              1
           44003              1
2021-04-30 8041               1
           15003              1
           25025              1

[5083 rows x 1 columns]

In [ ]:
protests_grouped.reset_index(inplace=True)

In [ ]:
protests_grouped['county_fips'] = protests_grouped['county_fips'].astype('str')

In [ ]:
def add_zero(x):
  if len(x)==4:
    updated_fips = '0'+x
    return updated_fips
  else:
    return x

In [ ]:
protests_grouped['county_fips'] = protests_grouped['county_fips'].apply(lambda x: add_zero(x))

In [ ]:
protests_grouped['county_fips'].str.len().value_counts()

5    5083
Name: county_fips, dtype: int64

In [ ]:
protests_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5083 entries, 0 to 5082
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     5083 non-null   object
 1   county_fips  5083 non-null   object
 2   data_id      5083 non-null   int64
dtypes: int64(1), object(2)
memory usage: 119.3+ KB

In [ ]:
protests_grouped.rename(columns={'datetime': 'date'}, inplace=True)
protests_grouped

            date county_fips  data_id
0     2020-01-07       06067        1
1     2020-01-07       34029        1
2     2020-01-08       08031        1
3     2020-01-08       36001        1
4     2020-01-09       34021        1
...          ...         ...      ...
5078  2021-04-29       41017        1
5079  2021-04-29       44003        1
5080  2021-04-30       08041        1
5081  2021-04-30       15003        1
5082  2021-04-30       25025        1

[5083 rows x 3 columns]

In [ ]:
protests_grouped.set_index(['date', 'county_fips'],inplace=True)
protests_grouped

                        data_id
date       county_fips
2020-01-07 06067              1
           34029              1
2020-01-08 08031              1
           36001              1
2020-01-09 34021              1
...                         ...
2021-04-29 41017              1
           44003              1
2021-04-30 08041              1
           15003              1
           25025              1

[5083 rows x 1 columns]

In [ ]:
nyt_complete

                        cases_avg  cases_avg_per_100k  ...  cases  deaths
date       county_fips                                 ...
2020-01-21 53061             0.14                0.02  ...      1       0
2020-01-22 53061             0.14                0.02  ...      0       0
2020-01-23 53061             0.14                0.02  ...      0       0
2020-01-24 17031             0.14                0.00  ...      1       0
           53061             0.14                0.02  ...      0       0
...                           ...                 ...  ...    ...     ...
2021-05-24 72153             1.33                3.94  ...      4       0
           72999             6.00                 NaN  ...      9       0
           78010             1.71                3.39  ...     10       0
           78020             0.86               20.55  ...      6       0
           78030            14.00               27.11  ...     59       0

[1356131 rows x 6 columns]

In [ ]:
feature_target = nyt_complete.join(protests_grouped, how='outer')

In [ ]:
feature_target['data_id'].sum()

5467.0

In [ ]:
protests_grouped['data_id'].sum()

5467

In [ ]:
feature_target.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1356408 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1356131 non-null  float64
 1   cases_avg_per_100k   1341146 non-null  float64
 2   deaths_avg           1356131 non-null  float64
 3   deaths_avg_per_100k  1341146 non-null  float64
 4   cases                1356131 non-null  float64
 5   deaths               1356131 non-null  float64
 6   data_id              5083 non-null     float64
dtypes: float64(7)
memory usage: 77.8+ MB

In [ ]:
feature_target.loc['2021-04-29', '44003']

cases_avg              34.43
cases_avg_per_100k     20.96
deaths_avg              0.57
deaths_avg_per_100k     0.35
cases                   0.00
deaths                  0.00
data_id                 1.00
Name: (2021-04-29, 44003), dtype: float64

In [ ]:
feature_target['deaths']

588973.0

In [ ]:
feature_target.reset_index(inplace=True)

In [ ]:
counties = feature_target.groupby('county_fips').sum()

In [ ]:
counties

             cases_avg  cases_avg_per_100k  ...  deaths  data_id
county_fips                                 ...
01001          7039.93            12600.45  ...   110.0      0.0
01003         21184.45             9489.80  ...   310.0      0.0
01005          2328.63             9433.12  ...    58.0      0.0
01007          2647.44            11821.54  ...    64.0      0.0
01009          6729.96            11638.37  ...   139.0      0.0
...                ...                 ...  ...     ...      ...
72999         12245.09                0.00  ...     0.0      0.0
78010          1403.88             2774.25  ...    10.0      0.0
78020           242.48             5817.22  ...     1.0      0.0
78030          1700.93             3294.36  ...    16.0      0.0
78999            43.37                0.00  ...     0.0      0.0

[3279 rows x 7 columns]

In [ ]:
pd.set_option('use_inf_as_na', True)

In [ ]:
protests_to_deaths = counties['data_id']/counties['deaths']

In [ ]:
protests_to_deaths.sort_values(ascending=False)

county_fips
15007    3.000000
16057    1.600000
50023    0.600000
21073    0.541667
02110    0.333333
           ...
72149         NaN
72151         NaN
72153         NaN
72999         NaN
78999         NaN
Length: 3279, dtype: float64

In [ ]:
protests_to_deaths = pd.DataFrame(protests_to_deaths)
protests_to_deaths

               0
county_fips
01001        0.0
01003        0.0
01005        0.0
01007        0.0
01009        0.0
...          ...
72999        NaN
78010        0.0
78020        0.0
78030        0.0
78999        NaN

[3279 rows x 1 columns]

In [ ]:
protests_to_deaths.columns = ['protest_death_ratio']

In [ ]:
protests_to_deaths = protests_to_deaths[protests_to_deaths['protest_death_ratio']>0]

In [ ]:
protests_to_deaths[~protests_to_deaths.isnull()].sort_values('protest_death_ratio', ascending=False)

             protest_death_ratio
county_fips
15007                   3.000000
16057                   1.600000
50023                   0.600000
21073                   0.541667
27039                   0.333333
...                          ...
36047                        NaN
36061                        NaN
36081                        NaN
36085                        NaN
51515                        NaN

[794 rows x 1 columns]

In [ ]:
protests_to_deaths = protests_to_deaths[~protests_to_deaths.isnull()]

In [ ]:
protests_to_deaths = protests_to_deaths.sort_values(by='protest_death_ratio', ascending=False)

In [ ]:
protests_to_deaths[~protests_to_deaths['protest_death_ratio'].isnull()]

             protest_death_ratio
county_fips
15007                   3.000000
16057                   1.600000
50023                   0.600000
21073                   0.541667
27039                   0.333333
...                          ...
48121                   0.001312
26099                   0.001243
04027                   0.001193
34005                   0.001182
48215                   0.001047

[786 rows x 1 columns]

In [ ]:
feature_target.fillna(0, inplace=True)

In [ ]:
feature_target.to_csv('nyt_case_deaths_acled_protests_count_by_date_county_5_24_21.csv')

# Preping Mobility Data

In [2]:
apple_mob = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/applemobilitytrends-2021-05-20.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210525%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210525T171224Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=3e3a371e322bbc4602df0fe82d847346103fe444f5a7ec91e1075845fb04e792')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
apple_mob = apple_mob[apple_mob['country']=='United States']

In [4]:
apple_mob = apple_mob[apple_mob['geo_type']=='county']

In [5]:
apple_mob.drop(['geo_type', 'country', 'alternative_name'], axis=1, inplace=True)

In [6]:
apple_mob

                region transportation_type  ... 2021-05-19  2021-05-20
2053  Abbeville County             driving  ...     182.12      168.65
2054     Acadia Parish             driving  ...     147.14      167.68
2055   Accomack County             driving  ...     210.41      223.37
2056        Ada County             driving  ...     166.27      176.51
2057        Ada County             walking  ...     196.22      220.51
...                ...                 ...  ...        ...         ...
4686       York County             walking  ...     211.22      212.87
4687      Young County             driving  ...     159.55      162.80
4688       Yuba County             driving  ...     146.87      152.54
4689       Yuma County             driving  ...     122.02      129.66
4690       Yuma County             walking  ...     138.71      150.90

[2638 rows x 497 columns]

In [7]:
apple_melted = pd.melt(apple_mob, id_vars=['sub-region', 'region', 'transportation_type'], var_name='Date', value_name='Mobility_score')

In [77]:
apple_melted['region'] = apple_melted['region'].str.lower()

In [78]:
apple_melted.head()

       sub-region            region  ...        Date Mobility_score
0  South Carolina  abbeville county  ...  2020-01-13          100.0
1       Louisiana     acadia parish  ...  2020-01-13          100.0
2        Virginia   accomack county  ...  2020-01-13          100.0
3           Idaho        ada county  ...  2020-01-13          100.0
4           Idaho        ada county  ...  2020-01-13          100.0

[5 rows x 5 columns]

In [93]:
!pip install addfips

Collecting addfips
  Downloading https://files.pythonhosted.org/packages/eb/44/d0f182c355917565df96c3292e68b729a446ef1bb6cfdfd57b01dfdaae0a/addfips-0.3.1-py3-none-any.whl (108kB)
     |████████████████████████████████| 112kB 7.2MB/s
Requirement already satisfied: importlib-resources>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from addfips) (5.1.3)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=2.0.1->addfips) (3.4.1)
Installing collected packages: addfips
Successfully installed addfips-0.3.1

In [97]:
import addfips

In [98]:
af = addfips.AddFIPS()

In [100]:
af.get_county_fips('balls', state='Nevada')

In [102]:
def add_fips(x):
  fips = af.get_county_fips(x['region'], state=x['sub-region'])
  if fips is not None:
    return fips
  else:
    return 'failed'

In [106]:
apple_melted['fips'] = apple_melted.apply(lambda x: add_fips(x), axis=1)

In [110]:
apple_melted.to_csv('apple_mob_US_fips_5_26_21.csv')

### Adding FIPS codes

In [8]:
fips = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/countyfipstool20190120.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210525%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210525T174235Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=80a26c724745f38c020c46c0a1913e4bc2c79b722206cf8769add6c7ffe170ce')

In [21]:
fips

         sname sab   sid  sfips           cname  saint  cfips   fips
0      Alabama  AL   1.0      1  AUTAUGA COUNTY      0      1   1001
1      Alabama  AL   1.0      1    AUTAUGA CTY.      0      1   1001
2      Alabama  AL   1.0      1    autauga cty.      0      1   1001
3      Alabama  AL   1.0      1   AUTAUGA CNTY.      0      1   1001
4      Alabama  AL   1.0      1      AUTAUGA CY      0      1   1001
...        ...  ..   ...    ...             ...    ...    ...    ...
77608  Wyoming  WY  50.0     56       weston cy      0     45  56045
77609  Wyoming  WY  50.0     56          Weston      0     45  56045
77610  Wyoming  WY  50.0     56   Weston County      0     45  56045
77611  Wyoming  WY  50.0     56      WESTON CTY      0     45  56045
77612  Wyoming  WY  50.0     56      weston cy.      0     45  56045

[77613 rows x 8 columns]

In [11]:
fips_variations = fips.groupby(['sname', 'fips'])['cname'].apply(', '.join).reset_index()

In [12]:
len(fips_variations['sname'].value_counts())

56

In [68]:
fips_variations['cname'] = fips_variations['cname'].str.lower()

In [72]:
fips_variations['cname'] = fips_variations['cname'].str.replace('.', '')

In [75]:
fips_variations['cname']

0       autauga county, autauga cty, autauga cty, auta...
1       baldwin, baldwin cy, baldwin cnty, baldwin cty...
2       barbour cnty, barbour cy, barbour cty, barbour...
3       bibb county, bib cy, bib c, bib cy, bibb c, bi...
4       blount county, blount cnty, blount, blount c, ...
                              ...
3160    dade cnty, dade cy, dade cty, dade cy, dade co...
3161    kalawao, kalawao cnty, kalawao c, kalawao cy, ...
3162    yellowstone national park cnty, yellowstone na...
3163    washabaugh cnty, washabaugh cnty, washabaugh, ...
3164                      nansemond, nansemond, nansemond
Name: cname, Length: 3165, dtype: object

In [13]:
apple_states = list(apple_melted['sub-region'].unique())

In [14]:
def get_fips(x):
  for state in apple_states:
    df = fips_variations[fips_variations['sname']==state]
    code = df[df['cname'].str.contains(x)]['fips'].iloc[0]
    return code

In [25]:
import numpy as np

In [79]:
region_county_search = pd.DataFrame(apple_melted.groupby('sub-region')['region'].agg(list))
region_county_search['region'] = region_county_search['region'].apply(lambda x: list(np.unique(x)))

In [81]:
region_dict = region_county_search.to_dict()

In [ ]:
for state in list(failed_unique['sub-region']):
  
  state_df = failed_unique.loc[failed_unique['sub-region']==state]
  print('state_df')
  state_df

  for county in list(state_df):
    print('county: ')
    county
    options = list(state_fips_dict[state].keys())
    print('options: ')
    options
    output = process.extractOne(county, options)
    print('output: ')
    output
    fips = state_fips_dict[state][output[0]]
    print('fips: ')
    fips
    apple_melted.loc[(apple_melted['sub-region']== state) & (apple_melted['region']== county)]['fips'] = fips

In [85]:
fips_variations['cname'] = fips_variations['cname'].str.split(',')

In [86]:
fips_variations[fips_variations['sname']=='Alabama']['cname'].apply()

      sname  fips                                              cname
0   Alabama  1001  [autauga county,  autauga cty,  autauga cty,  ...
1   Alabama  1003  [baldwin,  baldwin cy,  baldwin cnty,  baldwin...
2   Alabama  1005  [barbour cnty,  barbour cy,  barbour cty,  bar...
3   Alabama  1007  [bibb county,  bib cy,  bib c,  bib cy,  bibb ...
4   Alabama  1009  [blount county,  blount cnty,  blount,  blount...
..      ...   ...                                                ...
62  Alabama  1125  [tuscaloosa cty,  tuscaloosa county,  tuscaloo...
63  Alabama  1127  [walker,  walker cnty,  walker,  walker cy,  w...
64  Alabama  1129  [washington county,  washington county,  washi...
65  Alabama  1131  [wilcox cnty,  wilcox cty,  wilcox county,  wi...
66  Alabama  1133  [winston cnty,  winston,  winston cty,  winsto...

[67 rows x 3 columns]

In [91]:
new_fips = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/countyfipstool20190120.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210526%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210526T135643Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=cf4dafead53cc2ff252cecbb03ee129cef15717b16f3be1d7cc0cac1e0a74a7a')

In [92]:
new_fips

         sname sab   sid  sfips           cname  saint  cfips   fips
0      Alabama  AL   1.0      1  AUTAUGA COUNTY      0      1   1001
1      Alabama  AL   1.0      1    AUTAUGA CTY.      0      1   1001
2      Alabama  AL   1.0      1    autauga cty.      0      1   1001
3      Alabama  AL   1.0      1   AUTAUGA CNTY.      0      1   1001
4      Alabama  AL   1.0      1      AUTAUGA CY      0      1   1001
...        ...  ..   ...    ...             ...    ...    ...    ...
77608  Wyoming  WY  50.0     56       weston cy      0     45  56045
77609  Wyoming  WY  50.0     56          Weston      0     45  56045
77610  Wyoming  WY  50.0     56   Weston County      0     45  56045
77611  Wyoming  WY  50.0     56      WESTON CTY      0     45  56045
77612  Wyoming  WY  50.0     56      weston cy.      0     45  56045

[77613 rows x 8 columns]

In [ ]:
#takes in cname
def fuzzy_match(county, x):
  options = x['cname']
  output = process.extractOne(county, options)
  


  x

In [15]:
#loop through region_dict keys, 
#for each value in a set, search fips_variations for fips code
#save to nested dict where first key is state and nest dict has county key, fips as value

state_fips_dict = {}

#loop through list of states
for state in list(region_dict['region'].keys()):
  #filter fips df for state
  state_df = fips_variations[fips_variations['sname']==state]
  #initialize dictionary to save fips scores for each county in a state
  fips_dict = {}
  #loop through list of counties for each state
  for county in region_dict['region'][state]:
    #for each county, iterate through fips_variation filtered by state and look for a match
    try:
      options = state_df
      fips_code = state_df[state_df['cname'].str.contains(county)]['fips'].iloc[0]
      fips_dict[county] = fips_code
    except:
      fips_dict[county] = 'failed'
  state_fips_dict[state] = fips_dict

In [46]:
fips_variations['cname'].str.contains('DeKalb County').sum()

6

In [16]:
def append_fips(x):
  state = x['sub-region']
  county = x['region']
  if state_fips_dict[state] != 'failed':
    fips = state_fips_dict[state][county]
    return fips
  else:
    return 'failed'

In [117]:
apple_melted

             sub-region            region  ...        Date Mobility_score
0        South Carolina  Abbeville County  ...  2020-01-13         100.00
1             Louisiana     Acadia Parish  ...  2020-01-13         100.00
2              Virginia   Accomack County  ...  2020-01-13         100.00
3                 Idaho        Ada County  ...  2020-01-13         100.00
4                 Idaho        Ada County  ...  2020-01-13         100.00
...                 ...               ...  ...         ...            ...
1303167    Pennsylvania       York County  ...  2021-05-20         212.87
1303168           Texas      Young County  ...  2021-05-20         162.80
1303169      California       Yuba County  ...  2021-05-20         152.54
1303170         Arizona       Yuma County  ...  2021-05-20         129.66
1303171         Arizona       Yuma County  ...  2021-05-20         150.90

[1303172 rows x 5 columns]

In [17]:
apple_melted['fips'] = apple_melted.apply(lambda x: append_fips(x), axis=1)

In [164]:
# #county checker
# county = 'DeSoto County'


# apple_melted[apple_melted['region']== county]

          sub-region         region  ... Mobility_score    fips
628          Florida  DeSoto County  ...            100  failed
629      Mississippi  DeSoto County  ...            100  failed
630      Mississippi  DeSoto County  ...            100  failed
3266         Florida  DeSoto County  ...          96.49  failed
3267     Mississippi  DeSoto County  ...         101.56  failed
...              ...            ...  ...            ...     ...
1298525  Mississippi  DeSoto County  ...         150.52  failed
1298526  Mississippi  DeSoto County  ...         204.46  failed
1301162      Florida  DeSoto County  ...         128.38  failed
1301163  Mississippi  DeSoto County  ...         160.57  failed
1301164  Mississippi  DeSoto County  ...         224.06  failed

[1482 rows x 6 columns]

In [166]:
fips = '12027'
apple_melted.loc[(apple_melted['sub-region']=='Florida') & (apple_melted['region']== 'DeSoto County']

SyntaxError: ignored

In [18]:
failed = apple_melted[apple_melted['fips']=='failed']

In [55]:
failed[['sub-region', 'region']]

             sub-region                       region
20          Puerto Rico          Aguadilla Municipio
56               Alaska       Anchorage Municipality
57               Alaska       Anchorage Municipality
80          Puerto Rico            Arecibo Municipio
139         Puerto Rico            Bayamón Municipio
...                 ...                          ...
1302763       Louisiana  St. John the Baptist Parish
1302782        Maryland            St. Mary's County
1302785  Virgin Islands            St. Thomas Island
1302888     Puerto Rico           Toa Baja Municipio
1302905     Puerto Rico      Trujillo Alto Municipio

[36556 rows x 2 columns]

In [85]:
import numpy as np

In [87]:
failed_unique = pd.DataFrame(failed.groupby('sub-region')['region'].agg(list)).reset_index()

In [95]:
failed_unique['region'] = failed_unique.region.apply(lambda x: np.unique(x))

In [96]:
failed_unique

        sub-region                                             region
0          Alabama                                    [DeKalb County]
1           Alaska  [Anchorage Municipality, Juneau City and Borou...
2          Florida                                    [DeSoto County]
3          Georgia  [DeKalb County, McDuffie County, McIntosh County]
4             Guam                                             [Guam]
5         Illinois  [DeKalb County, DuPage County, LaSalle County,...
6          Indiana   [DeKalb County, LaGrange County, LaPorte County]
7           Kansas                                 [McPherson County]
8         Kentucky                                 [McCracken County]
9        Louisiana                      [St. John the Baptist Parish]
10        Maryland  [Prince George's County, Queen Anne's County, ...
11       Minnesota                                    [McLeod County]
12     Mississippi                                    [DeSoto County]
13        Missouri                                  [McDonald County]
14         Montana                           [Lewis and Clark County]
15      New Mexico                 [Doña Ana County, McKinley County]
16  North Carolina                                  [McDowell County]
17    North Dakota                                  [McKenzie County]
18        Oklahoma  [McClain County, McCurtain County, McIntosh Co...
19    Pennsylvania                                    [McKean County]
20     Puerto Rico  [Aguadilla Municipio, Arecibo Municipio, Bayam...
21       Tennessee     [DeKalb County, McMinn County, McNairy County]
22           Texas  [DeWitt County, McCulloch County, McLennan Cou...
23  Virgin Islands              [St. Croix Island, St. Thomas Island]
24        Virginia                             [Isle of Wight County]
25       Wisconsin                               [Fond du Lac County]

# Trying Fuzzy Matching

In [16]:
!pip install fuzzywuzzy[speedup]

Collecting fuzzywuzzy[speedup]
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Collecting python-levenshtein>=0.12; extra == "speedup"
  Downloading https://files.pythonhosted.org/packages/2a/dc/97f2b63ef0fa1fd78dcb7195aca577804f6b2b51e712516cc0e902a9a201/python-Levenshtein-0.12.2.tar.gz (50kB)
     |████████████████████████████████| 51kB 3.2MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-levenshtein>=0.12; extra == "speedup"->fuzzywuzzy[speedup]) (56.1.0)
Building wheels for collected packages: python-levenshtein
  Building wheel for python-levenshtein (setup.py) ... done
  Created wheel for python-levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149813 sha256=456f640dc5f979b1cc40bd0734dbc4cf648f162ee6cd71c549948d5d000a898c
  Stored in directory: /root/.cache/pip/wheels/b3/26/73/4b48503bac73f01cf18e52cd250947049a7f339e940c5df8fc
Successfully built python-levenshtein
Installing collected packages: python-levenshtein, fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0 python-levenshtein-0.12.2

In [99]:
failed_unique.loc[failed_unique['sub-region']=='Florida']['region']

2    [DeSoto County]
Name: region, dtype: object

In [100]:
fips_variations

             sname   fips                                              cname
0          Alabama   1001  AUTAUGA COUNTY, AUTAUGA CTY., autauga cty., AU...
1          Alabama   1003  BALDWIN, BALDWIN CY., baldwin cnty., BALDWIN C...
2          Alabama   1005  barbour cnty., barbour cy., BARBOUR CTY, barbo...
3          Alabama   1007  BIBB COUNTY, BIB CY, BIB C., BIB CY., BIBB C.,...
4          Alabama   1009  BLOUNT COUNTY, BLOUNT CNTY, Blount, BLOUNT C.,...
...            ...    ...                                                ...
3160       florida  12025  dade cnty, DADE CY, dade cty, dade cy., Dade C...
3161        hawaii  15005  kalawao, kalawao cnty, kalawao c., kalawao cy,...
3162       montana  30113  yellowstone national park cnty, yellowstone na...
3163  south dakota  46131  washabaugh cnty, washabaugh cnty., Washabaugh,...
3164      virginia  51123                    NANSEMOND, Nansemond, nansemond

[3165 rows x 3 columns]

In [ ]:
state_fips_dict = {}
for state in list(region_dict.keys()):
  state_df = fips_variations[fips_variations['sname']==state]
  fips_dict = {}
  for county in region_dict[state]:
    try:
      fips_code = state_df[state_df['cname'].str.contains(county)]['fips'].iloc[0]
      fips_dict[county] = fips_code
    except:
      fips_dict[county] = 'failed'
  state_fips_dict[state] = fips_dict

In [106]:
state_fips_dict['Florida'].keys()

dict_keys(['Washington County', 'Marion County', 'Baker County', 'Pinellas County', 'Osceola County', 'Orange County', 'Brevard County', 'Collier County', 'Gilchrist County', 'Clay County', 'Hardee County', 'Madison County', 'Hernando County', 'Duval County', 'Palm Beach County', 'Jackson County', 'Highlands County', 'Wakulla County', 'Bay County', 'Bradford County', 'Okaloosa County', 'Gulf County', 'Jefferson County', 'Monroe County', 'Alachua County', 'Miami-Dade County', 'Santa Rosa County', 'Levy County', 'Columbia County', 'Manatee County', 'Walton County', 'Sumter County', 'Okeechobee County', 'St. Johns County', 'St. Lucie County', 'Seminole County', 'Gadsden County', 'Flagler County', 'DeSoto County', 'Glades County', 'Polk County', 'Lee County', 'Leon County', 'Nassau County', 'Suwannee County', 'Volusia County', 'Hamilton County', 'Broward County', 'Charlotte County', 'Lake County', 'Martin County', 'Holmes County', 'Hillsborough County', 'Sarasota County', 'Taylor County', 'Escambia County', 'Hendry County', 'Pasco County', 'Citrus County', 'Putnam County', 'Indian River County'])

In [17]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [116]:
for state in list(failed_unique['sub-region']):
  
  state_df = failed_unique.loc[failed_unique['sub-region']==state]
  print('state_df')
  state_df

  for county in list(state_df):
    print('county: ')
    county
    options = list(state_fips_dict[state].keys())
    print('options: ')
    options
    output = process.extractOne(county, options)
    print('output: ')
    output
    fips = state_fips_dict[state][output[0]]
    print('fips: ')
    fips
    apple_melted.loc[(apple_melted['sub-region']== state) & (apple_melted['region']== county)]['fips'] = fips

state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:
state_df
county:
options:
output:
fips:
county:
options:
output:
fips:

In [109]:
apple_melted.loc[(apple_melted['sub-region']=='Florida') & (apple_melted['region']== 'DeSoto County')]

        sub-region         region  ... Mobility_score    fips
628        Florida  DeSoto County  ...         100.00  failed
3266       Florida  DeSoto County  ...          96.49  failed
5904       Florida  DeSoto County  ...         107.46  failed
8542       Florida  DeSoto County  ...         116.37  failed
11180      Florida  DeSoto County  ...         138.99  failed
...            ...            ...  ...            ...     ...
1290610    Florida  DeSoto County  ...         118.73  failed
1293248    Florida  DeSoto County  ...         116.34  failed
1295886    Florida  DeSoto County  ...         110.17  failed
1298524    Florida  DeSoto County  ...         113.52  failed
1301162    Florida  DeSoto County  ...         128.38  failed

[494 rows x 6 columns]

In [ ]:
for failed in list(failed['region'].unique()):