<a href="https://colab.research.google.com/github/AschHarwood/social_unrest/blob/main/social_unrest_feature_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datasets to wrangle

- Target data time frame: April 20, 2020 - April 29, 2021

## Data Sources

#### Static

- CDC social vulnerability index
- [New York Times Mask Wearing Survey](https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv) (d)
- MOA Youth Disconnection Index
- [ASTDR Place and Health](https://https://colab.research.google.com/drive/1meRtC6LKeuS8kDFt4aoNtqhJzLQufhaZ#scrollTo=XUAqlGUmn80F&line=12&uniqifier=1) (d)
- [County-level demographic, socioeconomi, health care, education, and transit data](https://github.com/JieYingWu/COVID-19_US_County-level_Summaries/tree/master/data)
- [KFF Cases/Deaths by Race](https://github.com/KFFData/COVID-19-Data/tree/kff_master/Race%20Ethnicity%20COVID-19%20Data/Cases%20and%20Deaths)
-[Legislative Composition](https://www.ncsl.org/research/about-state-legislatures/partisan-composition.aspx) (d, pdf)
-[Black Representation in Power](https://wholeads.us/datasets/) (d)
- [Vote Smart](https://votesmart.org/share/api)
- [KFF State Political Parties 2021](https://www.kff.org/other/state-indicator/state-political-parties/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF Governors](https://www.kff.org/other/state-indicator/governors/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF Demographics and Economy](https://www.kff.org/state-category/demographics-and-the-economy/)
- [KFF Critical Care Workforce](https://www.kff.org/report-section/state-covid-19-data-and-policy-actions-policy-actions/#stateleveldata)(d)
- [KFF Flu Vaccine and Deaths](https://www.kff.org/report-section/state-covid-19-data-and-policy-actions-policy-actions/#stateleveldata)(d)
- [County Health Rankings](https://www.countyhealthrankings.org/explore-health-rankings/measures-data-sources/2021-measures)(d)
- [Tufts Misinformation Vulnerabilty Index](https://sites.tufts.edu/digitalplanet/the-misinformation-maelstrom-a-mapping-of-vulnerability-across-america/)(d)
- [Conspiratorial thinking during COVID-19](https://osf.io/dtzne/)(d)
- [Anxiety, Worry, and Risk/Probability Estimates during COVID-19](https://osf.io/cgzsd/)(d)
- [Characterizing Public Perceptions of Social and Cultural Impacts in Policy Decisions](https://osf.io/pgq62/)
- [Pew Congress Social Media Activity](https://www.pewresearch.org/internet/dataset/congress-on-social-media-2015-2020/)(d)
- [C3 Covid Data Lake](https://c3.ai/covid-19-api-documentation/#tag/PolicyDetail/paths/~1api~11~1policydetail~1fetch/post)


#### Time series (Numeric/Cat)

- Apple mobility data (d)
- [Covid cases/deaths (NYT)](https://data.humdata.org/dataset/nyt-covid-19-data)
- [MIT Covid Survey](https://covidsurvey.mit.edu/api.html)
- [Share This Market Consumption National US](https://aws.amazon.com/marketplace/pp/prodview-mhxrjlbhfq2qg?ref_=beagle&applicationId=AWSMPContessa#offers)
- [Google Community Mobility](https://www.google.com/covid19/mobility/)
  - See on [AWS](https://console.aws.amazon.com/dataexchange/home?region=us-east-1#/entitled-data?type=revision&productId=prod-eh4td62sesszk&dataSetId=8620cacff1cf872e2e193b83a9c8799c&revisionId=86dad5bbdcaee4787b5cfa4d80daf5a3)
- [KFF Covid State Trend](https://github.com/KFFData/COVID-19-Data/tree/kff_master/State%20Trend%20Data)
- [KFF State Social Distancing Policies](https://github.com/KFFData/COVID-19-Data/tree/kff_master/State%20Policy%20Actions/State%20Social%20Distancing%20Actions)
- [KFF Long Term Care Deaths](https://www.kff.org/coronavirus-covid-19/issue-brief/state-covid-19-data-and-policy-actions/#policyactions)(d)
- [KFF ICU Beds by County](https://khn.org/news/as-coronavirus-spreads-widely-millions-of-older-americans-live-in-counties-with-no-icu-beds/#lookup)(d)
- [KFF Covid by Race](https://www.kff.org/other/state-indicator/covid-19-cases-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [KFF COVID-19 Deaths by Race/Ethnicity](https://www.kff.org/other/state-indicator/covid-19-deaths-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
-  [KFF Percent of Total Population that has Received a COVID-19 Vaccine by Race/Ethnicity](https://www.kff.org/other/state-indicator/percent-of-total-population-that-has-received-a-covid-19-vaccine-by-race-ethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D)(d)
- [Facebook Mobility Data](https://data.humdata.org/dataset/movement-range-maps)(d)
- [Social Mobility Index](https://socialmobility.covid19dataresources.org/data.html)(d)
  - See [github](https://raw.githubusercontent.com/mdredze/covid19_social_mobility.github.io/master/data/longitudinal_state_latest.csv)
- [ANES Elections Studies](https://electionstudies.org/data-center/2020-time-series-study/)
- [Covid Infodemic Risk Index](https://covid19obs.fbk.eu/#/)(d)
- [MIT Covid Attitudes Survey](https://covidsurvey.mit.edu/api.html)
#### Time series (text)
- News dataset
- [Daily geotagged coronavirus tweets](https://ieee-dataport.org/open-access/coronavirus-covid-19-geo-tagged-tweets-dataset#files)
- [Covid-19-Tweets](https://github.com/echen102/COVID-19-TweetIDs)
- [COVID19_Tweets_Dataset](https://github.com/lopezbec/COVID19_Tweets_Dataset)
- [FB Political Ads](https://www.propublica.org/datastore/dataset/political-advertisements-from-facebook)(d)
- [Institutional-and-news-media-tweet-dataset-for-COVID-19-social-science-research](https://github.com/narcisoyu/Institutional-and-news-media-tweet-dataset-for-COVID-19-social-science-research)
- [Pancea Labs Covid_Twitter](https://github.com/thepanacealab/covid19_twitter)
- [GW Tweet Library - Congress, Senate, and Covid datasets](https://tweetsets.library.gwu.edu/datasets)
- [COVID-19 Infodemic Twitter Dataset: Modeling the Perspective of Journalists, Fact-Checkers, Social Media Platforms, Policy Makers, and the Society](https://github.com/firojalam/COVID-19-tweets-for-check-worthiness)(d)
- [Covied Reddit covid](https://www.kaggle.com/trtmio/project-coviewed-subreddit-coronavirus-news-corpus)
- [COVID-19-DBs](https://github.com/yes-lab-covid-19/COVID-19-DBs)
-

# Imports

In [1]:
import pandas as pd

# Import Target Data

In [2]:
protests = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/covid_protests_target_fips_May_24.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210524%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210524T174042Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=670a9fedf4bc445b7eb775db8b38e3a527f74a6bc7df7862f7e8a8fea1b038b7')

In [3]:
protests.drop('Unnamed: 0', inplace=True, axis=1)
protests

        datetime  data_id  ... state_fips state_code
0     2021-04-29  7934666  ...          6         CA
1     2021-04-28  7934392  ...         23         ME
2     2021-04-27  7934568  ...          4         AZ
3     2021-04-27  7934572  ...         12         FL
4     2021-04-26  7934252  ...          8         CO
...          ...      ...  ...        ...        ...
5462  2021-01-22  7740002  ...          6         CA
5463  2020-11-08  7610764  ...         42         PA
5464  2020-07-30  7612987  ...         42         PA
5465  2020-05-01  7611699  ...          6         CA
5466  2020-04-20  7614153  ...         49         UT

[5467 rows x 13 columns]

In [124]:
protests_grouped = protests.groupby(['datetime', 'county_fips']).count()['data_id']
protests_grouped

datetime    county_fips
2020-01-07  6067           1
            34029          1
2020-01-08  8031           1
            36001          1
2020-01-09  34021          1
                          ..
2021-04-29  41017          1
            44003          1
2021-04-30  8041           1
            15003          1
            25025          1
Name: data_id, Length: 5083, dtype: int64

In [16]:
protests_grouped.reset_index().duplicated().sum()

0

## NYT Deaths Data

In [5]:
nyt_deaths = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties.csv')

In [6]:
nyt_deaths

               date      geoid  ... deaths_avg deaths_avg_per_100k
0        2020-01-21  USA-53061  ...        0.0                 0.0
1        2020-01-22  USA-53061  ...        0.0                 0.0
2        2020-01-23  USA-53061  ...        0.0                 0.0
3        2020-01-24  USA-53061  ...        0.0                 0.0
4        2020-01-24  USA-17031  ...        0.0                 0.0
...             ...        ...  ...        ...                 ...
1356126  2021-05-24  USA-69120  ...        0.0                 0.0
1356127  2021-05-24  USA-69110  ...        0.0                 0.0
1356128  2021-05-24  USA-78030  ...        0.0                 0.0
1356129  2021-05-24  USA-78020  ...        0.0                 0.0
1356130  2021-05-24  USA-78010  ...        0.0                 0.0

[1356131 rows x 10 columns]

In [7]:
nyt_deaths['county_fips'] = nyt_deaths['geoid'].apply(lambda x: x[4:])

In [8]:
cases_deaths_nyt = nyt_deaths.groupby(['date', 'county_fips']).sum()[['cases', 'deaths']]

In [9]:
nyt_avgs = nyt_deaths.groupby(['date', 'county_fips']).mean()[['cases_avg', 'cases_avg_per_100k', 'deaths_avg', 'deaths_avg_per_100k']]

In [44]:
nyt_complete = pd.concat([nyt_avgs, cases_deaths_nyt], axis=1)

In [50]:
nyt_complete

                        cases_avg  cases_avg_per_100k  ...  cases  deaths
date       county_fips                                 ...
2020-01-21 53061             0.14                0.02  ...      1       0
2020-01-22 53061             0.14                0.02  ...      0       0
2020-01-23 53061             0.14                0.02  ...      0       0
2020-01-24 17031             0.14                0.00  ...      1       0
           53061             0.14                0.02  ...      0       0
...                           ...                 ...  ...    ...     ...
2021-05-24 72153             1.33                3.94  ...      4       0
           72999             6.00                 NaN  ...      9       0
           78010             1.71                3.39  ...     10       0
           78020             0.86               20.55  ...      6       0
           78030            14.00               27.11  ...     59       0

[1356131 rows x 6 columns]

# Final Join

- add zero to protests_grouped when only 4 characters
- convert county_fips to string for protests_groupoed
- rename datetime to date on protests_grouped
- set index ['date', 'county_fips'] for both
- .join(how='left')

In [125]:
protests_grouped = pd.DataFrame(protests_grouped)
protests_grouped

                        data_id
datetime   county_fips
2020-01-07 6067               1
           34029              1
2020-01-08 8031               1
           36001              1
2020-01-09 34021              1
...                         ...
2021-04-29 41017              1
           44003              1
2021-04-30 8041               1
           15003              1
           25025              1

[5083 rows x 1 columns]

In [126]:
protests_grouped.reset_index(inplace=True)

In [127]:
protests_grouped['county_fips'] = protests_grouped['county_fips'].astype('str')

In [128]:
def add_zero(x):
  if len(x)==4:
    updated_fips = '0'+x
    return updated_fips
  else:
    return x

In [129]:
protests_grouped['county_fips'] = protests_grouped['county_fips'].apply(lambda x: add_zero(x))

In [130]:
protests_grouped['county_fips'].str.len().value_counts()

5    5083
Name: county_fips, dtype: int64

In [132]:
protests_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5083 entries, 0 to 5082
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     5083 non-null   object
 1   county_fips  5083 non-null   object
 2   data_id      5083 non-null   int64
dtypes: int64(1), object(2)
memory usage: 119.3+ KB

In [133]:
protests_grouped.rename(columns={'datetime': 'date'}, inplace=True)
protests_grouped

            date county_fips  data_id
0     2020-01-07       06067        1
1     2020-01-07       34029        1
2     2020-01-08       08031        1
3     2020-01-08       36001        1
4     2020-01-09       34021        1
...          ...         ...      ...
5078  2021-04-29       41017        1
5079  2021-04-29       44003        1
5080  2021-04-30       08041        1
5081  2021-04-30       15003        1
5082  2021-04-30       25025        1

[5083 rows x 3 columns]

In [134]:
protests_grouped.set_index(['date', 'county_fips'],inplace=True)
protests_grouped

                        data_id
date       county_fips
2020-01-07 06067              1
           34029              1
2020-01-08 08031              1
           36001              1
2020-01-09 34021              1
...                         ...
2021-04-29 41017              1
           44003              1
2021-04-30 08041              1
           15003              1
           25025              1

[5083 rows x 1 columns]

In [135]:
nyt_complete

                        cases_avg  cases_avg_per_100k  ...  cases  deaths
date       county_fips                                 ...
2020-01-21 53061             0.14                0.02  ...      1       0
2020-01-22 53061             0.14                0.02  ...      0       0
2020-01-23 53061             0.14                0.02  ...      0       0
2020-01-24 17031             0.14                0.00  ...      1       0
           53061             0.14                0.02  ...      0       0
...                           ...                 ...  ...    ...     ...
2021-05-24 72153             1.33                3.94  ...      4       0
           72999             6.00                 NaN  ...      9       0
           78010             1.71                3.39  ...     10       0
           78020             0.86               20.55  ...      6       0
           78030            14.00               27.11  ...     59       0

[1356131 rows x 6 columns]

In [136]:
feature_target = nyt_complete.join(protests_grouped, how='outer')

In [139]:
feature_target['data_id'].sum()

5467.0

In [140]:
protests_grouped['data_id'].sum()

5467

In [141]:
feature_target.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1356408 entries, ('2020-01-07', '06067') to ('2021-05-24', '78030')
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cases_avg            1356131 non-null  float64
 1   cases_avg_per_100k   1341146 non-null  float64
 2   deaths_avg           1356131 non-null  float64
 3   deaths_avg_per_100k  1341146 non-null  float64
 4   cases                1356131 non-null  float64
 5   deaths               1356131 non-null  float64
 6   data_id              5083 non-null     float64
dtypes: float64(7)
memory usage: 77.8+ MB

In [144]:
feature_target.loc['2021-04-29', '44003']

cases_avg              34.43
cases_avg_per_100k     20.96
deaths_avg              0.57
deaths_avg_per_100k     0.35
cases                   0.00
deaths                  0.00
data_id                 1.00
Name: (2021-04-29, 44003), dtype: float64

In [145]:
feature_target['deaths']

588973.0

In [146]:
feature_target.reset_index(inplace=True)

In [149]:
counties = feature_target.groupby('county_fips').sum()

In [150]:
counties

             cases_avg  cases_avg_per_100k  ...  deaths  data_id
county_fips                                 ...
01001          7039.93            12600.45  ...   110.0      0.0
01003         21184.45             9489.80  ...   310.0      0.0
01005          2328.63             9433.12  ...    58.0      0.0
01007          2647.44            11821.54  ...    64.0      0.0
01009          6729.96            11638.37  ...   139.0      0.0
...                ...                 ...  ...     ...      ...
72999         12245.09                0.00  ...     0.0      0.0
78010          1403.88             2774.25  ...    10.0      0.0
78020           242.48             5817.22  ...     1.0      0.0
78030          1700.93             3294.36  ...    16.0      0.0
78999            43.37                0.00  ...     0.0      0.0

[3279 rows x 7 columns]

In [155]:
pd.set_option('use_inf_as_na', True)

In [156]:
protests_to_deaths = counties['data_id']/counties['deaths']

In [157]:
protests_to_deaths.sort_values(ascending=False)

county_fips
15007    3.000000
16057    1.600000
50023    0.600000
21073    0.541667
02110    0.333333
           ...
72149         NaN
72151         NaN
72153         NaN
72999         NaN
78999         NaN
Length: 3279, dtype: float64

In [160]:
protests_to_deaths = pd.DataFrame(protests_to_deaths)
protests_to_deaths

               0
county_fips
01001        0.0
01003        0.0
01005        0.0
01007        0.0
01009        0.0
...          ...
72999        NaN
78010        0.0
78020        0.0
78030        0.0
78999        NaN

[3279 rows x 1 columns]

In [161]:
protests_to_deaths.columns = ['protest_death_ratio']

In [166]:
protests_to_deaths = protests_to_deaths[protests_to_deaths['protest_death_ratio']>0]

In [173]:
protests_to_deaths[~protests_to_deaths.isnull()].sort_values('protest_death_ratio', ascending=False)

             protest_death_ratio
county_fips
15007                   3.000000
16057                   1.600000
50023                   0.600000
21073                   0.541667
27039                   0.333333
...                          ...
36047                        NaN
36061                        NaN
36081                        NaN
36085                        NaN
51515                        NaN

[794 rows x 1 columns]

In [178]:
protests_to_deaths = protests_to_deaths[~protests_to_deaths.isnull()]

In [180]:
protests_to_deaths = protests_to_deaths.sort_values(by='protest_death_ratio', ascending=False)

In [187]:
protests_to_deaths[~protests_to_deaths['protest_death_ratio'].isnull()]

             protest_death_ratio
county_fips
15007                   3.000000
16057                   1.600000
50023                   0.600000
21073                   0.541667
27039                   0.333333
...                          ...
48121                   0.001312
26099                   0.001243
04027                   0.001193
34005                   0.001182
48215                   0.001047

[786 rows x 1 columns]

In [189]:
feature_target.fillna(0, inplace=True)

In [191]:
feature_target.to_csv('nyt_case_deaths_acled_protests_count_by_date_county_5_24_21.csv')