<a href="https://colab.research.google.com/github/AschHarwood/social_unrest/blob/main/social_unrest_target_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://nyc3.digitaloceanspaces.com/politicalnews/political_violence/covid_protests_acled.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=KSJCKUT5V42U4OBV57JG%2F20210524%2Fnyc3%2Fs3%2Faws4_request&X-Amz-Date=20210524T165241Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&X-Amz-Signature=0e1dd6227db1ab289ca972d660c165823f6a74b85c16ca6292ec809308f40cc2')

In [3]:
df.head()

     datetime  data_id  iso  ... fatalities   timestamp iso3
0  2021-04-29  7934666  840  ...          0  1620164854  USA
1  2021-04-28  7934392  840  ...          0  1620164854  USA
2  2021-04-27  7934568  840  ...          0  1620164854  USA
3  2021-04-27  7934572  840  ...          0  1620164854  USA
4  2021-04-26  7934252  840  ...          0  1620164854  USA

[5 rows x 32 columns]

In [5]:
target = df[['datetime', 'data_id', 'event_type', 'sub_event_type', 'interaction', 'admin1', 'admin2', 'latitude', 'longitude']]

In [6]:
target.head()

     datetime  data_id event_type  ...       admin2  latitude longitude
0  2021-04-29  7934666   Protests  ...  Los Angeles   34.0192 -118.4960
1  2021-04-28  7934392   Protests  ...     Kennebec   44.3106  -69.7794
2  2021-04-27  7934568   Protests  ...         Pima   32.0478 -110.7120
3  2021-04-27  7934572   Protests  ...         Polk   28.0408  -81.9477
4  2021-04-26  7934252   Protests  ...         Mesa   39.0639 -108.5506

[5 rows x 9 columns]

In [7]:
import requests as re

In [35]:
def get_codes(x):
  lat = x['latitude']
  lon = x['longitude']
  output = re.get(f'https://geo.fcc.gov/api/census/area?lat={lat}&lon={lon}&format=json')
  output = output.json()
  county_fips = output['results'][0]['county_fips']
  state_fips = output['results'][0]['state_fips']
  state_code = output['results'][0]['state_code']
  return [county_fips, state_fips, state_code]

In [41]:
target['location_details'] = target.apply(lambda x: get_codes(x), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
target['county_fips'] = target['location_details'].apply(lambda x: x[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
target['state_fips'] = target['location_details'].apply(lambda x: x[1])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
target['state_code'] = target['location_details'].apply(lambda x: x[2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
target.head()

     datetime  data_id event_type  ... county_fips  state_fips state_code
0  2021-04-29  7934666   Protests  ...       06037          06         CA
1  2021-04-28  7934392   Protests  ...       23011          23         ME
2  2021-04-27  7934568   Protests  ...       04019          04         AZ
3  2021-04-27  7934572   Protests  ...       12105          12         FL
4  2021-04-26  7934252   Protests  ...       08077          08         CO

[5 rows x 13 columns]

In [49]:
target.to_csv('covid_protests_target_fips_May_24.csv')